body {
font-family: 'Kdam Thmor Pro', sans-serif;
  background: linear-gradient(to bottom,#5e0101,#1e0000);
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

main {
  min-height: 100vh;
}

h1 {
  color: #ffffff;
  font-family: 'Kdam Thmor Pro', sans-serif;
  font-weight: bold;
  font-size: 3em;
  margin-bottom: 0.2em;
}
h2 {
  font-weight: normal;
  font-size: 2em;
  margin-bottom: 0.2em;
}
h3 {
  font-weight: normal;
  font-size: 1.5em;
  margin-bottom: 0.2em;
}

#root {
  /**
    background-image: linear-gradient(to bottom, #3b1515,#000000);
  */
}



button {
  padding: 14px;
  background-color: darkred;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  
  &:hover {
    background-color: rgb(60, 2, 2);
    box-shadow: 0 0 5px 0 rgb(255, 255, 255);
  }

  &:active {
    background-color: rgb(153, 31, 31);
  }

  &:disabled {
    cursor: no-drop;
    background-color: transparent;
  }
}

#walletInput {
  background-color: transparent;
  border: 1px solid gray;
  border-radius: 8px;
  font-family: 'Kdam Thmor Pro', sans-serif;
  outline: none;
  padding: 10px;
  margin-right: 10px;
  color: white;

  &:focus {
    box-shadow: 0 0 5px 0 rgb(255, 255, 255);
  }

}

#walletSearch {
  margin: 1em 0;
}

#wallet-showcase {
  display: flex;
}


.crypto-price {
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: linear-gradient(to bottom, #ffcc00, #ff6600);
  position: relative;
}

#wallet-total {
  font-weight: bold;
  background: linear-gradient(to bottom, #ff6a00, #ff2200);
  text-align: center;
  border-radius:8px;
}



.crypto-price::before,
.crypto-price::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #ccc;
}

.crypto-price::before {
  top: 0;
}

.crypto-price::after {
  bottom: 0;
}
.crypto-price p {
  margin: 0;
  text-shadow: 0 0 5px white;
}

.wallet-info {
  border: 2px solid #ccc;
  padding: 10px;
  margin: 15px auto;
  border-radius: 8px;
  background-color: #8e80807f;
  max-width: 210px;
}
.info-item {
  margin-bottom: 8px;
}

.wallet-info p {
  margin: 1px;
  color: rgba(255, 255, 255, 0.698);
}

#bar-top {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 1.5em;
  line-height: 50px;
  margin-bottom:3em;
  text-shadow: 0 0 15px 0 rgb(17, 58, 205);
  width: 100%;
  text-align: center;
}

footer {
  color: white;
  font-family: 'Kdam Thmor Pro', sans-serif;
  font-size: 1.5em;
  line-height: 15px;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-flow: row;
  background-color: #8e80807c;
  box-shadow: 0 0 5px 0 gray;
  width: 100%;
  justify-content: space-between;
}

#links {
  display: flex;
  justify-content: center;
  color: white;
}



.bold-space {
display: flex;
justify-content: space-between;
font-weight: bold;
}






/* media screen */
/*
@media screen and (min-width: 768px) {
  todo 
}
*/
@media screen and (min-width: 1200px) {
  body, footer {
    max-width: 1200px;
    margin: 0 auto;
  }
}