body {
font-family: 'Kdam Thmor Pro', sans-serif;
  background: linear-gradient(to bottom,#5e0101,#1e0000);
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

main {
  min-height: 100vh;
}

h1 {
  color: #ffffff;
  font-family: 'Kdam Thmor Pro', sans-serif;
  font-weight: bold;
  font-size: 3em;
  margin-bottom: 0.2em;
}
h2 {
  font-weight: normal;
  font-size: 2em;
  margin-bottom: 0.2em;
}
h3 {
  font-weight: normal;
  font-size: 1.5em;
  margin-bottom: 0.2em;
}

#root {
  /**
    background-image: linear-gradient(to bottom, #3b1515,#000000);
  */
}



button {
  padding: 14px;
  background-color: darkred;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  
  &:hover {
    background-color: rgb(60, 2, 2);
    box-shadow: 0 0 5px 0 rgb(255, 255, 255);
  }

  &:active {
    background-color: rgb(153, 31, 31);
  }

  &:disabled {
    cursor: no-drop;
    background-color: transparent;
  }
}

#walletSearchContainer {
  display: flex;
  flex-direction: row-reverse;
}

#walletInput {
  background-color: transparent;
  border: 1px solid gray;
  border-radius: 8px;
  font-family: 'Kdam Thmor Pro', sans-serif;
  outline: none;
  padding: 10px;
  margin-right: 10px;
  color: white;

  &:focus {
    box-shadow: 0 0 5px 0 rgb(255, 255, 255);
  }

}

#walletSearch {
  margin: 1em 0;
}

#wallet-showcase {
  display: flex;
}


.crypto-price {
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: linear-gradient(to bottom, #ffcc00, #ff6600);
  position: relative;
}

#wallet-total {
  font-weight: bold;
  background: linear-gradient(to bottom, #ff6a00a3, #ff220099);
  text-align: center;
  border-radius:8px;
  display: flex;
  flex-direction: column;
}

#wallet-total p {
  margin: 0;
  color: rgba(255, 255, 255, 0.787);
}



.crypto-price::before,
.crypto-price::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #ccc;
}

.crypto-price::before {
  top: 0;
}

.crypto-price::after {
  bottom: 0;
}
.crypto-price p {
  margin: 0;
  text-shadow: 0 0 5px white;
}

.wallet-info {
  border: 2px solid #ccc;
  padding: 10px;
  margin: 15px auto;
  border-radius: 8px;
  background-color: #8e80807f;
  max-width: 210px;
}
.info-item {
  margin-bottom: 8px;
}

.wallet-info p {
  margin: 1px;
  color: rgba(255, 255, 255, 0.698);
}

.receivable-transactions, .banano-funds {
  color: white;
  border: 2px solid white;
  border-radius: 8px;
  max-width: 370px;
  margin: 50px 10px 50px 0;
  background-color: #8e80802b;
}

.receivable-transactions ul, .banano-funds ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px;
  margin: 0px;
}

.receivable-transactions h2, .banano-funds h2 {
  margin: 10px;
}
.receivable-transactions p, .banano-funds p {
  font-size: 1rem;
  margin: 5px;
}

.receivable-transactions .list-items, .banano-funds #stats {
  display: flex;
  justify-content: space-between;
  width: 100%;
  list-style: none;
}

.vote-date.important p {
  -webkit-text-stroke: 0.05px rgba(255, 0, 0, 0.979);

}

.banano-funds .list-items, .banano-funds .list-items2 {
  list-style: none;
}

.receivable-transactions .link {
  color: gray;
  text-decoration:none;
  cursor: pointer;
}

.banano-funds .link-yellow {
  color: yellow;
  text-decoration: none;
  cursor: pointer;
}

.receivable-transactions .link:hover, .banano-funds .link-yellow:hover {
  color: steelblue;
}

#bananoContainer {
  display: flex;
  justify-content: space-between;
}

.topXButton {
  padding: 1.5px 2px;
  margin: 0.5px 2px;
  border: 1px solid yellow;
}
.topXButton:hover {
  background-color:yellow;
  color: black;
}

#boomPowChart {
  color: white;
}
.boompow-transactions {
  margin-bottom: 3em;
}

#bar-top {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 1.5em;
  line-height: 50px;
  margin-bottom:3em;
  text-shadow: 0 0 15px 0 rgb(17, 58, 205);
  width: 100%;
  text-align: center;
}

footer {
  color: white;
  font-family: 'Kdam Thmor Pro', sans-serif;
  font-size: 2em;
  line-height: 20px;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-flow: row;
  background-color: #8e80807c;
  box-shadow: 0 0 5px 0 rgb(128, 128, 128);
  width: 100%;
  justify-content: space-between;
}

#links {
  display: flex;
  justify-content: center;
  color: white;
  -webkit-text-stroke: 1px rgba(120, 84, 69, 0.524);
}



.bold-space {
display: flex;
justify-content: space-between;
font-weight: bold;
}






/* media screen */
/*
@media screen and (min-width: 768px) {
  todo 
}
*/
@media screen and (min-width: 1200px) {
  body, footer {
    max-width: 1200px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 300px) {
  body, footer {
    display: block;
    min-width: 376px;
    margin: 0 auto;
  }
}

@media only screen
  and (min-device-width: 280px)
  and (max-width: 768px)
  and (-webkit-min-device-pixel-ratio: 2) {
  
    h1 {
      color: #ffffff;
      font-family: 'Kdam Thmor Pro', sans-serif;
      font-weight: bold;
      font-size: 2em;
      margin-bottom: 0.2em;
    }
    #wallet-showcase {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;
      margin: 10px 5px;
    }
    .wallet-info {
      border: 2px solid #ccc;
      padding: 2px;
      border-radius: 8px;
      margin: 0;
      background-color: #8e80807f;
      max-width: 120px;
      max-height: auto;
    }
    .info-item {
      margin-bottom: 8px;
    }
    
    .wallet-info p {
      margin: 1px;
      color: rgba(255, 255, 255, 0.698);
      font-size: 0.7em;
    }

    #wallet-total {
      margin: 10px 5px;
    }
    
    #wallet-total p {
      margin: 0;
      font-size: 0.8em;
    }
    .crypto-price {
      font-size: 0.6em;
      align-items: center;
    }
    .crypto-price p {
      justify-content: center;
      
    }
    #walletSearch {
      align-items: center;
    }
    #bananoContainer {
      display: flex;
      flex-direction: column;
      width: auto;
      align-items: center;
    }
    footer {
      font-size: 1em;
    }
    .boompow-transactions {
      margin: 2em 1em;
    }
    
    .banano-funds, .receivable-transactions {
      width: 100%;
      margin: 20px 0;
    }
    #bar-top {
      margin-bottom:1.5em;

    }
    .banano-funds ul .list-items2 {
      display: flex;
      align-items: center;
      list-style: none;
    }
}